<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">Résumé - Information personnelles</h1>

    <div class="row">

        <!-- .resume-right -->
        <div class="col-md-6">

            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Designs skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->

            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="95%">
                    <div class="skillbar-title"><span>Photoshop</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">15%</div>
                </div>

                <!-- /.skillbar -->

            </div>


            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">Admin Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="15%">
                    <div class="skillbar-title"><span>Windows 11</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">15%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>Debian 10</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="40%">
                    <div class="skillbar-title"><span>OpenBSD 6.9</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">40%</div>
                </div>
                <!-- /.skillbar -->
                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>Mac OS X</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .title_content -->
            </div>
            <div class="skills">
            <!-- .title_content -->
            <div class="title_content" style="float: none;">
                <div class="text_content">CMS Skills</div>
                <div class="clear"></div>
            </div>
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>Wordpress</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="30%">
                    <div class="skillbar-title"><span>Joomla</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">30%</div>
                </div>
                <!-- /.skillbar -->

                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="30%">
                    <div class="skillbar-title"><span>Drupal</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">30%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .title_content -->
            </div>

            <div class="title_content" style="float: none;">
                <div class="text_content">Programmation Skills</div>
                <div class="clear"></div>
            </div>
            <!-- /.title_content -->
            <div class="skills">
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="89%">
                    <div class="skillbar-title"><span>Php</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">89%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="30%">
                    <div class="skillbar-title"><span>C++</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">30%</div>
                </div>
                <!-- /.skillbar -->
                <!-- .skillbar -->
                <div class="skillbar clearfix" data-percent="60%">
                    <div class="skillbar-title"><span>Python</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">60%</div>
                </div>
                <!-- /.skillbar -->
                <div class="skillbar clearfix" data-percent="30%">
                    <div class="skillbar-title"><span>JavaScript</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">30%</div>
                </div>
                <!-- /.skillbar -->
                <!-- /.skillbar -->
                <div class="skillbar clearfix" data-percent="90%">
                    <div class="skillbar-title"><span>HTML5</span></div>
                    <div class="skillbar-bar"></div>
                    <div class="skill-bar-percent">90%</div>
                </div>
                <!-- /.skillbar -->
            </div>
        </div>

        <div class="title_content" style="float: none;">
            <div class="text_content">Framework Skill</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="30%">
                <div class="skillbar-title"><span>React</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="30%">
                <div class="skillbar-title"><span>Symfony</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        <!-- /.skillbar -->
    </div>
    <!-- .title_content -->
    <div class="title_content" style="float: none;">
        <div class="text_content">Office Skills</div>
        <div class="clear"></div>
    </div>
    <!-- /.title_content -->

    <div class="skills">
        <!-- .skillbar -->
        <div class="skillbar clearfix" data-percent="60%">
            <div class="skillbar-title"><span>Google Sheets</span></div>
            <div class="skillbar-bar"></div>
            <div class="skill-bar-percent">60%</div>
        </div>
        <!-- /.skillbar -->

        <!-- .skillbar -->
        <div class="skillbar clearfix " data-percent="40%">
            <div class="skillbar-title"><span>Google docs</span></div>
            <div class="skillbar-bar"></div>
            <div class="skill-bar-percent">40%</div>
        </div>
        <!-- /.skillbar -->
        <!-- .skillbar -->
        <div class="skillbar clearfix " data-percent="30%">
            <div class="skillbar-title"><span>Markdown</span></div>
            <div class="skillbar-bar"></div>
            <div class="skill-bar-percent">30%</div>
        </div>
        <!-- /.skillbar -->

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="40%">
                <div class="skillbar-title"><span>Musique</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="15%">
                <div class="skillbar-title"><span>Sport</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">15%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="20%">
                <div class="skillbar-title"><span>Lecture</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">20%</div>
            </div>
            <!-- /.skillbar -->

        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="30%">
                <div class="skillbar-title"><span>Anglais</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Français</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Russe</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->
        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Mon CV</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i>Télécharger mon
                CV</span>
        </a>
        <!-- /.download_resume -->

    </div>
    <!-- /.resume-right -->



    <!-- .resume-left -->
    <div class="col-md-6 resume-left">
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Technicien Informatique <span class="duration"><i class="fa fa-calendar color"></i> 2011-2014</span>
                </h5>
                <h6><span class="fa fa-briefcase"></span>DVMR</h6>
                <p>Installation et paramètrage de serveur Windows/debian/macOSServer. Intégration de solution développées. En PHP Bash et
                    JavaScript.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>

        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Baccalauréat professionnel micro-informatique et réseaux, installation et maintenance <span
                        class="duration"><i class="fa fa-calendar color"></i> 2008 -
                        2011</span></h5>
                <h6><span class="fa fa-book"></span> OIIO Formation</h6>
                <p>Ces 3 ans m'ont permis d'apprendre le HTML, le PHP, le JavaScript (Refonte du site internet en web 2.0 tout à la main à l'aide d'OpenClassRoom). Comment déployer un parc informatique rapidement. Comment distribuer des licences (Système de distibution avec php base de donnée et verification de l'identitée par la boite email). Comment câbler une salle informatique (notion de quelques normes). Comment installer plusieurs local area network. Notion de routage mais incomplète car gérés automatiquement par un double Network Adress Translation. Installation d'un serveur à accès publique. Découverte de la virtualisation. Mise en place d'un proxy http. Apprentissage de la sécurité informatique avec les distributions Linux de sécurité informatique. Formation d'étudiants. Management d'une petite équipe.</p>
            </li>
            <li>
                <h5>Brevet de technicien supérieur en informatique et réseaux pour l'industrie et les services techniques en alternance<span class="duration"><i class="fa fa-calendar color"></i> 2011 -
                        2013</span></h5>
                <h6><span class="fa fa-book"></span> OIIO Formation / DVMR</h6>
                <p>Riches des connaissances apprises, j'ai pu intégrer une entreprise audio visuelle spécialisée dans le transcodage vidéo. Le poste était situé à Vitry1 datacenter Illiad. J'ai pu découvrir le monde de l'entreprise. Mes missions étaient l'installation de serveur. Développement d'interfaces. Utilisation et Intégration de système API dans le système. J'ai pu en apprendre d'avantage sur la vidéo à l'air du streaming.</p>
            </li>
            <li>
                <h5> Diplome Européen d'Etude Supérieur en Informatique<span class="duration"><i class="fa fa-calendar color"></i> 2013 -
                        2014</span></h5>
                <h6><span class="fa fa-book"></span> OIIO Formation / DVMR</h6>
                <p>Je suis resté 1 an de plus, puis j'ai déménagé.</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>

    </div>
    <!-- /.resume-left -->
</div>
</div>
<!-- End .resume -->